# OSX & System
.DS_Store
Thumbs.db
*.sln

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Node & Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.log

# Scratch & Temporary Folders
scratch/
.bundle/
.gemini/
*.tmp

# Python
__pycache__/
*.py[cod]
*$py.class

# Generated PDF & Build Documentation Artifacts
docs/*.pdf
*.pdf

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editors
.vscode/
*.sublime-project
*.sublime-workspace

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Metro / Watchman
.metro-health-check*

# Testing & Coverage
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
